<div id="j-logo-header">
    <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo"></a> 
</div>

{{!-- <nav id="j-navbar">
  {{#foreach navigation}}
    <a class="{{#if current}}j-navbar-current{{/if}}" href="{{url absolute="true"}}">{{ label }}</a>
  {{/foreach}}
</nav> --}}
