<div id="j-logo-header">
    <a class="j-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo"></a> 
    <div class="j-menu-toggle" href="#">Menu</div>
</div>

{{!-- <nav id="j-navbar">
  {{#foreach navigation}}
    <a class="{{#if current}}j-navbar-current{{/if}}" href="{{url absolute="true"}}">{{ label }}</a>
  {{/foreach}}
</nav> --}}
