<nav class="j-nav-container">
  <div class="j-nav-logo"><img src="{{@blog.logo}}" alt="blog logo"></div>
  <!-- Loop through the navigation items -->
  {{#foreach navigation}}
    <div class="j-nav-item {{#if current}}nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></div>
  {{/foreach}}
  <!-- End the loop -->
</nav>