<a href="https://github.com/Maxbrain0" target="_blank">
  <span class="social-icon fab fa-github"></span>
</a>
<a href="https://www.linkedin.com/in/jacobgoodwin1/" target="_blank">
  <span class="social-icon fab fa-linkedin"></span>
</a>