{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="j-cover-image">
  {{#if @site.logo}}
  <img src="{{@site.cover_image}}" alt="Cover Image">
  <div class="j-image-text">
    <h3>{{@site.title}}</h3>
    <h4>{{@site.description}}</h4>
  </div>
  {{/if}}
</div>

<div class="j-postsbreak"></div>


{{>posts_list}}


{{pagination}}