{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<h1>This in the index</h1>
<h2>This is me testing livereload</h2>
<h3>Here's another test</h3>
<h4>Node stuffs</h4>
<div style="color: blue; font-size: 9em">
  <i class="fab fa-facebook"></i>
</div>
<div style="color: blue; font-size: 6em">
  <i class="fab fa-linkedin-in"></i>
</div>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magnam iusto animi cum iure alias atque error quam necessitatibus officia recusandae voluptate odit, optio temporibus eligendi ea earum omnis rem blanditiis id tempore repellat! Beatae consequatur doloribus molestias assumenda fugiat tempore magnam. Voluptatem amet nobis error, voluptatibus quas eius! Eveniet, necessitatibus doloribus. Omnis, asperiores. Consequatur adipisci obcaecati rem dolorum voluptas aliquam saepe nostrum a aperiam quae beatae sed temporibus quam autem recusandae aut natus repudiandae, illo ad delectus tempora vero omnis eos. Quasi nesciunt praesentium sunt impedit error ex animi tempora veniam quas doloribus vel, ea cupiditate at voluptates totam consequatur quam. Porro vel cum quaerat eaque incidunt exercitationem earum, voluptatem maiores consequuntur expedita. Mollitia voluptatum obcaecati sapiente maiores nesciunt, in tempore facere ullam, cumque culpa rerum natus, ratione deleniti eaque asperiores soluta alias nulla atque. Quaerat, sit! Possimus dicta suscipit aliquid nulla sequi, deserunt facere eligendi libero aperiam neque odio optio, voluptatibus in. Neque blanditiis sit exercitationem accusantium necessitatibus asperiores aliquam non. Odio asperiores temporibus possimus sit a ratione error rem voluptatum numquam ullam fugiat vitae, nobis dolor quo quam itaque, eligendi aut ab fuga, nisi sunt ducimus. A modi cumque similique fugiat enim eveniet soluta dolores. Quia sequi tempore molestias</p>