.j-nav {
  display: grid;
  color: white;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  align-items: center;
  background-color: #1c1c1c; }

.j-nav-logo img {
  max-height: 50px;
  max-width: 500px; }

.j-nav-item {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  color: white;
  font-weight: bolder; }
  .j-nav-item a:link {
    text-decoration: none;
    color: white; }
  .j-nav-item a:visited {
    text-decoration: none;
    color: white; }
  .j-nav-item a:hover {
    color: #e84b0d;
    transition: 500ms; }
  .j-nav-item a:active {
    text-decoration: underline; }

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #e84b0d; }

body {
  font-family: 'Opesn Sans', sans-serif;
  margin: 0px; }
