.j-nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #0e2e4e; }

.j-nav-logo img {
  margin-left: 20px;
  height: 50px; }

.j-nav-item a {
  margin-left: 10px;
  color: #f6f6f6;
  font-size: 18px;
  text-decoration: none; }

.j-nav-item a:hover {
  color: #c3c3c3;
  transition: 250ms; }

@media all and (max-width: 875px) {
  .j-nav-container {
    flex-flow: column nowrap;
    justify-content: center; } }

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #1c1c1c; }

a {
  font-family: 'Roboto', sans-serif; }

body {
  font-family: 'Opesn Sans', sans-serif;
  margin: 0px; }
