#j-logo-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 2em;
  
  .j-logo {
    margin-left: 1em;
    height: inherit;
    align-self: flex-end;  
  }
  
  img {
    max-height: 100%;
  }
  
  .j-menu-toggle {
    align-self: flex-end;
    margin-right: 1em;
    color: $blue;
    font-size: 1.5em;
    font-weight: 700;
    border-bottom: 3px $orange solid;
    cursor: pointer;
    transition: all $menu-transition;

    &:hover {
      color: $orange;
      border-bottom-color: $blue;
      transition: $menu-transition;
    }
  }

  .fa-chevron-circle-down {
    color: $orange;
  }

  .fa-chevron-circle-down.menu-closed {
    animation: fliparrow $menu-transition linear reverse;
    transform: rotate(0deg);
  }

  .fa-chevron-circle-down.menu-opened {
    color: $blue;
    transition: $menu-transition;
    animation: fliparrow $menu-transition linear;
    transform: rotate(180deg);
  } 
}

@keyframes fliparrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

#j-navbar {
  position: fixed;
  max-width: inherit;
  width: 100%;
  top: 4em; // fixed dimension of header bar
  bottom: 0; // don't want quite 100% height;
  background-color: rgba($blue, 0.90);
  overflow-x: hidden;

  &.closed {
    transition: opacity $menu-transition;
    z-index: -1;
    opacity: 0;
  }
  &.opened {
    transition: opacity $menu-transition;
    overflow-y: auto;
    opacity: 1;
    z-index:1;
  }

  .nav-links {
    max-width: $breakpoint;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 2em;
    @media screen and (max-width: $breakpoint) {
      font-size: 1.5em;
    }
    a {
      min-width: 200px;
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 1em;
      text-align: center;
    }
    a:link {
      color: $white;
      text-decoration: none;
    }
    a.j-navbar-current:link {
      border-bottom: 2px $orange solid;
      text-decoration: none;
    }
    a:visited {
      color: $white;
      text-decoration: none;
    }
    a.j-navbar-current:visited {
      border-bottom: 2px $orange solid;
      text-decoration: none;
    }

    a:hover {
      color: lighten($orange, 10);
      transition: $menu-transition;
    }
  }

  .social-links {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding-bottom: 3em;

    .social-icon {
      font-size: 2em;
      color: $white;
      margin-left: 1em;
      margin-right: 1em;
      @media screen and (max-width: $breakpoint){
        margin-left: 0.25em;
        margin-right: 0.25em;
      }

      &:hover {
        color:$orange;
        transition: $menu-transition;
      }
    }
  }
}


