#j-logo-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 35px;
  
  .j-logo {
    margin-left: 1em;
    height: inherit;
    align-self: flex-end;  
  }
  
  img {
    max-height: 100%;
  }
  
  .j-menu-toggle {
    align-self: flex-end;
    margin-right: 1em;
    color: $blue;
    font-size: 1.5em;
    font-weight: 700;
    border-bottom: 3px $orange solid;
    cursor: pointer;
    transition: $menu-transition;

    .fa-chevron-circle-down {
      color: $orange;
      transition: $menu-transition;
    }
    &:hover {
      color: $orange;
      border-bottom-color: $blue;
      transition: $menu-transition;

      .fa-chevron-circle-down {
        color: $blue;
        transition: $menu-transition;
      }
    }
  }
}

#j-navbar {
  font-size: 1.5em;
}

.j-navbar-current {
  border-color: $orange;
}


