.j-cover-image {
  position: relative;
  text-align: center;
  color: $white;
  
  img {
    max-width: 100%;
    filter: brightness(85%) opacity(95%);
  }
  .j-image-text {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);

    h1 {
      margin-bottom: 5px;
      font-size: 1.5em;
      text-shadow: 2px 2px $blue;
    }
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 1em;
      text-shadow: 2px 2px $blue;
    }
  }
}

#j-posts-list {
  margin-top: 25px;
  display: grid;

  .j-post {
    display: grid;
    
  }
}

