.j-cover-image {
  position: relative;
  text-align: center;
  color: $white;
  margin-top: 1.5em;

  img {
    max-width: 100%;
    filter: brightness(85%) opacity(95%);
  }

  .j-image-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-shadow: 2px 2px $blue;

    font-weight: 900;
    color: $white;
    margin-bottom: 0.25em;
    margin-top: 0.25em;

    .j-site-title-text {
      font-size: 1.2em;
    }

    .j-site-desc-text {
      font-size: 1em;
    }
  }
}

.j-postsbreak {
  width: 50%;
  margin: 1em auto 1em auto;
  height: 0.5em;
  background-color: $orange;
}

.j-posts-list {
  margin: 2em;

  .j-post {
    display: flex;
    flex-direction: column;

    .post-header {
      text-align: center;
      margin-bottom: 1em;
      a {
        font-size: 1.6em;
        color: $blue;
        &:hover {
          color: $orange;
          transition: $menu-transition;
        }
      }
    }

    .post-image {
      margin-bottom: 1em;
      align-self: center;
      img {
        max-width: 100vw;
      }
    }

    .post-meta {
      img {
        max-width: 100px;
      }
    }
  }

  .j-postbreak {
    width: 50%;
    margin: 0em auto 2em auto;
    height: 0.25em;
    background-color: $blue;
  }

  @media screen and (min-width: $breakpoint) {
    margin-left: 4em;
    margin-right: 4em;
    .j-post {
      .post-image {
        img {
          max-width: $breakpoint;
        }
      }
    }
  }
}

nav.pagination {
  display: flex;
  align-items: center;
  margin-top: 2em;
  text-align: center;
  flex-direction: column;

  a {
    color: $blue;
    transition: $menu-transition;
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    color: $orange;
    transition: $menu-transition;
  }

  .page-number {
    color: $blue;
    font-weight: 600;
    margin: 1em 1em 1em 1em;
  }

  .fa-chevron-circle-left,
  .fa-chevron-circle-right {
    color: $orange;
  }

  @media screen and (min-width: $breakpoint) {
    flex-direction: row;
    justify-content: center;
    .page-number {
      margin: 0 1em 0 1em;
    }
  }
}
