.j-cover-image {
  position: relative;
  text-align: center;
  color: $white;
  
  img {
    max-width: 100%;
    filter: brightness(85%) opacity(95%);
  }

  .j-image-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);

    h1 {
      margin-bottom: 5px;
      font-size: 1.5em;
      text-shadow: 2px 2px $blue;
    }
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 1em;
      text-shadow: 2px 2px $blue;
    }
  }
}

.j-postsbreak {
  width: 50%;
  margin: 1em auto 1em auto;
  height: 0.5em;
  background-color: $orange;
}

#j-posts-list {
  display: grid;
  row-gap: 4em;
  @media screen and (max-width: $breakpoint) {
    padding: 0 2em 0 2em; // narrower side padding for smaller screens
    row-gap: 2em;
  }
  padding: 0 3em 0 3em; //makes a nice little distincting from header and image content
  margin: auto;
  margin-top: 2.5em;
  color: $dark; 

  a {
    text-decoration: none;

    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
  

  .j-post {
    display: grid;
    width: inherit;
    
    @media screen and (min-width: $breakpoint) {
      // larger screen grid
      align-items: center; 
      row-gap: 0.5em;
      column-gap: 3em;
      &:nth-child(4n+1) {
        grid-template-areas:"header image"
                            "excerpt image"
                            "meta image";
        grid-template-columns: 2fr 1fr;
      }
  
      &:nth-child(4n+3) {
        grid-template-areas:  "image header"
                            "image excerpt"
                            "image meta";
        grid-template-columns: 1fr 2fr;
      }
    }

    @media screen and (max-width: $breakpoint) {
      // smaller screen grid
      row-gap: 0.5em;
      grid-template-areas:"header"
                          "image"
                          "exceprt"
                          "meta";
    }

    
    .post-image {
      grid-area: image;
      img {
        width: 100%;
      }
    }

    .post-header {
      grid-area: header;
      font-size: 1.5em;
      color: $blue;
      font-weight: 600; 

      a {
        color: $blue;
        transition: $menu-transition;

        &:hover {
          color: $orange;
          transition: $menu-transition;
        }
      }
    }
    .post-excerpt {
      grid-area: excerpt;
    }

    .post-meta {
      grid-area: meta;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;


      a {
        color: $blue;
        transition: $menu-transition;

        &:hover {
          color: $orange;
          transition: $menu-transition;
        }
      }
      .profile-image {
        margin-right: 1em;
        img {
          max-height: 3.5em;
          border-radius: 1em;
        }
      }

      .author-name {
        font-size: 1em;
        font-weight: 600;
      }
      
      .post-tags {
        margin-top: 0.5em;
        font-size: 0.75em;
        font-weight: 600;
        a {
          color: $orange;
          transition: $menu-transition;
        } 
        a:hover {
          color: $blue;
          transition: $menu-transition;
        }
      }
    }
  }

  .j-postbreak {
    width: 33%;
    margin: auto;
    height: 0.3em;
    background-color: $blue;
  }
}

nav.pagination {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2em;
  text-align: center;

  a {
    color: $blue;
    transition: $menu-transition;
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    color: $orange;
    transition: $menu-transition;
  }

  .page-number {
    color: $blue;
    font-weight: 600;
    margin: 0 1em 0 1em;
  }

  .fa-chevron-circle-left, .fa-chevron-circle-right {
    color: $orange;
  }

  @media screen and (max-width: $breakpoint){
    flex-direction: column;
    .page-number {
      margin: 1em 1em 1em 1em;
    }
  }
}