.j-nav {
  display: grid;
  color: white;
  grid-template-columns: repeat(7,1fr);
  width: 100%;
  align-items: center;
  background-color: $color1;
}

.j-nav-logo {
  img {
    max-height: 50px;
    max-width: 500px;
  }
}

.j-nav-item {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  color: white;
  font-weight: bolder;
  a:link {
    text-decoration: none;
    color: white;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }

  a:hover {
    // text-decoration: underline;
    color: $color3;
    transition: 500ms;
  }

  a:active {
    text-decoration: underline;
  }
}