@mixin margin-mixin() {
  margin-left: 36px;
  margin-right: 36px;
  @media screen and (max-width: $breakpoint) {
    margin-left: 18px;
    margin-right: 18px;
  }
}

.j-post-page {
  max-width: 100%;

  a {
    color: $orange;
    transition: $menu-transition;
  }

  a:hover {
    color: $blue;
    transition: $menu-transition;
  }

  .post-header {
    margin-top: 3em;

    .post-title {
      @include margin-mixin();
      font-weight: 900;
      font-size: 3em;
      @media screen and (max-width: $breakpoint) {
        font-size: 2em;
      }
      text-align: center;
      margin-bottom: 0.5em;
    }

    .post-meta {
      @include margin-mixin();
      text-align: center;
      margin-bottom: 2em;
    }

    .j-titlebreak {
      width: 33%;
      margin: auto;
      height: 0.3em;
      background-color: $blue;
    }

    .post-image {
      margin-top: 2em;
      margin-bottom: 2em;
      max-width: 100%;
    }

    .j-author {
      @include margin-mixin();
      margin-top: 2em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .profile-image {
        margin-right: 1em;
        img {
          max-height: 5em;
          border-radius: 2.5em;
        }
      }
    }
  }

  .post-content {
    display: block;
    width: 80%;
    margin: auto;

    @media screen and (max-width: $breakpoint) {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    margin-top: 2.5em;
    // max-width: $max-reading-width;
    article {
      display: flex;
      flex-direction: column;

      img {
        display: block;
        //default image size
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      figure {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
      }

      figcaption {
        margin-top: 1em;
        color: $blue;
        font-style: italic;
        text-align: center;
        padding-bottom: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border-bottom: 1px solid $orange;
      }

      a {
        font-weight: 400;
      }
    }

    p {
      line-height: 1.5;
    }

    blockquote {
      border-left: 0.5em $orange solid;
      margin-left: 0em;
      margin-right: 0em;
      margin-bottom: 2em;
      padding-left: 3em;
      p {
        font-size: 1em;
        line-height: 1.2;
      }
    }

    .kg-embed-card {
      display: flex;
      flex-direction: column;
      iframe {
        margin-left: auto;
        margin-right: auto;
      }

      .instagram-media {
        min-width: 200px !important; // for mobile phone screens that aren't wide
        margin-left: auto !important; // override instagram's stupid left alignment - bleh
        margin-right: auto !important;
      }
    }

    .kg-image-card {
      align-self: center;
      img {
        max-width: 80vw;
      }
    }

    .kg-width-wide {
      align-self: center;
      img {
        max-width: 90vw;
      }
    }

    .kg-width-full {
      align-self: center; // works because flex direction is "column"!
      img {
        max-width: 100vw;
      }
    }

    @media screen and (min-width: $breakpoint) {
      .kg-image-card {
        align-self: center;
        img {
          max-width: 100%;
        }
      }

      .kg-width-wide {
        align-self: center;
        img {
          width: 90vw;
          max-width: calc(#{$max-column-width} - 5em);
        }
      }

      .kg-width-full {
        align-self: center;
        img {
          width: 100vw;
          max-width: $max-column-width;
        }
      }
    }

    .kg-gallery-card {
      width: 100vw;
      max-width: $max-column-width;
      .kg-gallery-container {
        align-self: center;
        .kg-gallery-row {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .kg-gallery-image {
            img {
              max-width: 100vw;
              height: auto;
            }
            @media (min-width: $breakpoint) {
              max-width: 33.3%;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .post-pagination {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;

    .next-post {
      margin-top: 2em;
    }

    a {
      color: $blue;
      transition: $menu-transition;
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      color: $orange;
      transition: $menu-transition;
    }

    .fa-chevron-circle-left,
    .fa-chevron-circle-right {
      color: $orange;
    }
  }
}
