@mixin margin-mixin() {
  margin-left: 36px;
  margin-right: 36px;
  @media screen and (max-width: $breakpoint) {
    margin-left: 18px;
    margin-right: 18px;
  }
}

#j-post-page {
  max-width: 100%;


  a {
    color: $orange;
    transition: $menu-transition;
  }

  a:hover {
    color: $blue;
    transition: $menu-transition;
  }

  .post-header {
    margin-top: 3em;
    
    .post-title {
      @include margin-mixin();
      font-weight: 900;
      font-size: 3em;
      @media screen and (max-width: $breakpoint) {
        font-size: 2em;
      }
      text-align: center;
      margin-bottom: 0.5em;
    }

    .post-meta {
      @include margin-mixin();
      text-align: center;
      margin-bottom: 2em;
    }

    .j-titlebreak {
      width: 33%;
      margin: auto;
      height: 0.3em;
      background-color: $blue;
    }

    .post-image {
      margin-top: 2em;
      margin-bottom: 2em;
      max-width: 100%;
    }

    .j-author {
      @include margin-mixin();
      margin-top: 2em;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $breakpoint){
        justify-content: left;
      }
      .profile-image {
        margin-right: 1em;
        img {
          max-height: 5em;
          border-radius: 1em;
        }
      }
    }
  }

  .post-content {
    @include margin-mixin();
    margin-top: 2.5em;
    max-width: $max-reading-width;
    margin-left: auto;
    margin-right: auto;

    p {
      line-height: 1.5;
      img {
        max-width: 100%;
      }
    }

    blockquote {
      border-left: 0.5em $orange solid;
      margin-left: 0em;
      margin-right: 0em;
      margin-bottom: 2em;
      padding-left: 3em;
      p{
        font-size: 1em;
        line-height: 1.2;
      }
      
    }
  }
}