@import '_theme_variables';
@import '_header';
@import '_index';
@import '_post';


body {
  font-size: 1em;
  font-weight: 400;
  color: $dark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: $max-column-width;
  margin: auto;
  padding-bottom: 5em;

  &.noscroll {
    // nav menu is open, don't scroll body, but only navigation for short screens
    overflow: hidden;
  }
}

h1,h2,h3,h4,h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  text-decoration: none;
}

p {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}