//imports
@import 'theme_variables';
@import 'navigation';
//fonts
//@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:500,900');



h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: $color3;
}

body {
  font-family: 'Opesn Sans', sans-serif;
  margin: 0px;
}
