@import '_theme_variables';
@import '_header';
@import '_index';



body {
  font-size: 1em;
  max-width: $max-column-width;
  margin: auto;
}

h1,h2,h3,h4,h5 {
  font-family: sans-serif;
  font-weight: 600;
}